@using ProductionPlanning.ViewModel.User
@model EditUserViewModel

@{
    ViewData["Title"] = "Редактирование пользователя";
}

<div class="col-md-8">
    <h1 class="h3 mb-0">@ViewData["Title"]</h1>
    <p class="text-muted mb-0">Редактирование пользователя системы</p>
</div>
<hr />
<form asp-action="EditUser">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Id" />
    <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrlEditUser"]" />

    <div class="alert alert-light" role="alert">
        <h5 class="alert-heading">
            <svg width="25" height="25" fill="#3498db" class="bi bi-person-circle" viewBox="0 0 17 17">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
            Данные пользователя
        </h5>

        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="invalid-feedback d-block"></span>
                </div>
            </div>
        

        
            <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="invalid-feedback d-block"></span>
              </div>
            </div>
        </div>

    </div>

    <hr />

    @if (User.IsInRole(Role.Administrator) && (Model.Id != 1))
    {
        <div class="alert alert-light" role="alert">
            <h5 class="alert-heading">
                <svg width="25" height="25" fill="#3498db" class="bi bi-person-gear" viewBox="0 0 17 17">
                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0" />
                </svg>
                Роли пользователя
            </h5>
            <div class="row justify-content-start">
                <div class="col-md-6 col-lg-4">
                <!-- Выбор ролей -->
                    <div class="form-group">
                        @* <label class="control-label">Роли</label> *@
                        <div>
                            @foreach (var role in Model.AvailableRoles)
                            {
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           name="SelectedRoles"
                                           value="@role"
                                           id="role_@role"
                                    @(Model.SelectedRoles.Contains(role) ? "checked" : "")>
                                    <label class="form-check-label" for="role_@role">
                                        @role
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <!-- Сохраняем существующие роли -->
        @if (Model.SelectedRoles != null)
        {
            @foreach (var role in Model.SelectedRoles)
            {
                <input type="hidden" name="SelectedRoles" value="@role" />
            }
        }
    }

    <br />
    <div class="col-12">
        <input type="submit" value="Сохранить" class="btn btn-success" />
        <button type="button" class="btn btn-secondary" onclick="history.back();">Отмена</button>
    </div>
</form>

        


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}